@inherits LayoutComponentBase

<div class="form-border-color centered-flex h-max w-max">
    <div class="form-background centered-flex direction-column login-box rounded-corners">
        @Body
    </div>
</div>