@inherits LayoutComponentBase


<div class="container">
    <div class="left-box">
        <img src="Images/QCUPortal.png" alt="">
    </div>
    <div class="right-box">
        <form class="w-full" action="#">
            <div class="login-title">
                <h2 class="login-header">Login</h2>
                <p>Please enter your credentials to access your account.</p>
            </div>
            <div class="login-inputs">
                <EditForm Model="@Model" class="edit-form" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="w-full form-div">
                        <input @bind-value="Model.Username" type="text" name="" id="" class="input-size inp" placeholder="Username"/>
                        <ValidationMessage For="() => Model.Username" />
                    </div>
                    
                    <div class="w-full form-div">
                        <input @bind-value="Model.Password" type="password" name="" id="" class="input-size inp" placeholder="Password"/>
                        <ValidationMessage For="() => Model.Password" />
                    </div>
                    
                    <div class="w-full form-div">
                        <input @bind-value="Model.AccessCode" type="text" class="input-size inp-2" placeholder="Employment Access Code:"/>
                        <ValidationMessage For="() => Model.AccessCode" />
                    </div>


                    


                    <div class="button">
                        <button>Next</button>
                    </div>
                </EditForm>
                
            </div>
            
        </form>
    </div>
</div>
