@page "/"

<div>
    <h1>
        Hello Motherfucker
    </h1>
    <EditForm Model="model">
        <InputText @bind-Value="model!.UserPassword" />
        <button @onclick="Submit"> Submit </button>
    </EditForm>
</div>

